page-login {
    .logo-col {
        text-align: center;
    }
    .logo-img {
        width: 275vw;
        height: auto;
    }
    ion-grid {
        padding-top: 30vw;
    }

    .login-box {
        background: #f7f7f7;
        padding: 5px 5px 0px 5px;
        margin-top: 40px;
        width: 90%;
        align-items: center;
        margin-left: 5%;       
    }
}